RewriteEngine On
RewriteRule ^users/([^/]+)/?$ data.php?query=user&user=$1
RewriteRule ^registrations/?$ data.php?query=registrations
RewriteRule ^players/?$ data.php?query=players
RewriteRule ^rounds/([^/]+)/tiers/([^/]+)/lobbies/?$ data.php?query=lobbies&round=$1&tier=$2
RewriteRule ^rounds/([^/]+)/tiers/([^/]+)/players/?$ data.php?query=players&round=$1&tier=$2
RewriteRule ^rounds/([^/]+)/tiers/([^/]+)/mappool/?$ data.php?query=mappool&round=$1&tier=$2
RewriteRule ^rounds/([^/]+)/availability/?$ data.php?query=availability&round=$1
RewriteRule ^rounds/([^/]+)/?$ data.php?query=round&round=$1
RewriteRule ^rounds/?$ data.php?query=rounds
RewriteRule ^tiers/([^/]+)/?$ data.php?query=tier&tier=$1
RewriteRule ^tiers/?$ data.php?query=tiers
RewriteRule ^lobbies/([^/]+)/bans/?$ data.php?query=bans&lobby=$1
RewriteRule ^lobbies/([^/]+)/matchId/?$ data.php?query=matchId&lobby=$1
RewriteRule ^lobbies/([^/]+)/comment/?$ data.php?query=comment&lobby=$1
RewriteRule ^lobbies/([^/]+)/result/?$ data.php?query=result&lobby=$1
RewriteRule ^mappools/([^/]+)/?$ data.php?query=mappool&mappool=$1
RewriteRule ^osuprofile/([^/]+)/?$ data.php?query=osuprofile&id=$1
RewriteRule ^osubeatmap/([^/]+)/?$ data.php?query=osubeatmap&id=$1
RewriteRule ^osumatch/([^/]+)/games/?$ data.php?query=osugames&match=$1
RewriteRule ^osumatch/([^/]+)/?$ data.php?query=osumatch&id=$1
RewriteRule ^osugame/([^/]+)/?$ data.php?query=osugame&id=$1
RewriteRule ^settings/?$ data.php?query=settings
RewriteRule ^discordlogin/?$ data.php?query=discordlogin
RewriteRule ^discordroles/?$ data.php?query=discordroles
RewriteRule ^twitchlogin/?$ data.php?query=twitchlogin
RewriteRule ^mappoolers/([^/]+)/?$ data.php?query=mappooler&id=$1
RewriteRule ^mappoolers/?$ data.php?query=mappoolers