RewriteEngine On
RewriteRule ^users/@me/?$ data.php?query=user&self=true
RewriteRule ^users/([^/]+)/?$ data.php?query=user&user=$1
RewriteRule ^registrations/?$ data.php?query=registrations
RewriteRule ^players/?$ data.php?query=players
RewriteRule ^tiers/([^/]+)/rounds/?$ data.php?query=rounds&tier=$1
RewriteRule ^tiers/([^/]+)/?$ data.php?query=tier&tier=$1
RewriteRule ^tiers/?$ data.php?query=tiers
RewriteRule ^rounds/([^/]+)/lobbies/?$ data.php?query=lobbies&round=$1
RewriteRule ^rounds/([^/]+)/free_players/?$ data.php?query=free_players&round=$1
RewriteRule ^rounds/([^/]+)/mappool/?$ data.php?query=mappool&round=$1
RewriteRule ^rounds/([^/]+)/mappack/?$ data.php?query=mappack&round=$1
RewriteRule ^rounds/([^/]+)/availability/?$ data.php?query=availability&round=$1
RewriteRule ^rounds/([^/]+)/feedback/?$ data.php?query=feedback&round=$1
RewriteRule ^rounds/([^/]+)/?$ data.php?query=round&round=$1
RewriteRule ^availability/([^/]+)/?$ data.php?query=availability&id=$1
RewriteRule ^lobbies/([^/]+)/?$ data.php?query=lobby&lobby=$1
RewriteRule ^lobby_slots/([^/]+)/?$ data.php?query=lobby_slot&slot=$1
RewriteRule ^mappool_slots/([^/]+)/?$ data.php?query=mappool_slot&slot=$1
RewriteRule ^osu_profile/([^/]+)/?$ data.php?query=osu_profile&id=$1
RewriteRule ^osu_beatmap/([^/]+)/?$ data.php?query=osu_beatmap&id=$1
RewriteRule ^matches/([^/]+)/bans/?$ data.php?query=bans&match=$1
RewriteRule ^matches/([^/]+)/?$ data.php?query=match&match=$1
RewriteRule ^games/([^/]+)/?$ data.php?query=game&game=$1
RewriteRule ^tickets/([^/]+)/?$ data.php?query=ticket&ticket=$1
RewriteRule ^tickets/?$ data.php?query=tickets
RewriteRule ^blacklist/([^/]+)/?$ data.php?query=blacklist&id=$1
RewriteRule ^blacklist/?$ data.php?query=blacklist
RewriteRule ^settings/?$ data.php?query=settings